* {
  padding: 0;
  margin: 0;
  font-family: 'Geist Sans', sans-serif;
  box-sizing: border-box;
  webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Add the following code */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #424242;
}

body::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}



   
 








